#---------------------------------#
#      general configuration      #
#---------------------------------#
 
# version format
version: 1.0.4.{build}
 
# you can use {branch} name in version format too
# version: 1.0.{build}-{branch}
 
os: MinGW
platform:
- x86
- x64


# branches to build
branches:
  # whitelist
  only:
    - master
    - production
 
  # blacklist
  except:
    - gh-pages
 
# scripts that are called at very beginning, before repo cloning
init:
  - git config --global core.autocrlf input
 
# clone directory
clone_folder: c:\projects\spiffy

# scripts that run after cloning repository
install:
  # by default, all scripts lines are interpreted as batch
  # - ps: choco install mingw
  # - ps: choco install mingw-get
  # - ps: mingw-get install msys-make msys-regex msys-libregex msys-sed msys-autoconf msys-automake msys-mktemp msys-patch msys-libtool
  - ps: $env:Path = $env:Path + ";c:\MinGW\bin"

build_script:
  # - ps: dir c:\MinGW
  # - ps: dir c:\MinGW\bin
  # - ps: dir c:\MinGW\msys\bin
  # - cmd: echo %PATH%
  # - cmd: where make
  - ps: cd c:\projects\spiffy
  - ps: mingw32-make.exe'

deploy:
  release: myproduct-v$(appveyor_build_version)
  provider: GitHub  
  auth_roken:
    secure: zOub2u3XKk46bIt0jStLswKAi8yTdfVqB65hNi+xWs4xntjArEp9ptUnijIEyqy+
  artifact: /.*\.exe/
  draft: false
  prerelease: false
  on:
    branch: master                 # release from master branch only
    appveyor_repo_tag: true        # deploy on tag push only