#---------------------------------#
#      general configuration      #
#---------------------------------#
 
# version format
version: 1.0.4.{build}
 
# you can use {branch} name in version format too
# version: 1.0.{build}-{branch}
 
os: MinGW
platform:
- x86
- x64


# branches to build
branches:
  # whitelist
  only:
    - master
    - production
 
  # blacklist
  except:
    - gh-pages
 
# scripts that are called at very beginning, before repo cloning
init:
  - git config --global core.autocrlf input
 
# clone directory
clone_folder: c:\projects\spiffy

# scripts that run after cloning repository
install:
  # by default, all scripts lines are interpreted as batch
  # - ps: choco install mingw
  # - ps: choco install mingw-get
  # - ps: mingw-get install msys-make msys-regex msys-libregex msys-sed msys-autoconf msys-automake msys-mktemp msys-patch msys-libtool
  - ps: echo "pass"
build_script:
  - ps: dir c:\MinGW
  - cmd: echo %PATH%
  - cmd: where make
  - ps: cd c:\projects\spiffy
  - ps: make