#---------------------------------#
#      general configuration      #
#---------------------------------#
 
# version format
version: 1.0.4.{build}
 
# you can use {branch} name in version format too
# version: 1.0.{build}-{branch}
 
# branches to build
branches:
  # whitelist
  only:
    - master
    - production
 
  # blacklist
  except:
    - gh-pages
 
# Do not build on tags (GitHub only)
skip_tags: true
 

 
# Operating system (build VM template)
os: Windows Server 2012
 
# scripts that are called at very beginning, before repo cloning
init:
  - git config --global core.autocrlf input
 
# clone directory
clone_folder: c:\projects\spiffy

# scripts that run after cloning repository
install:
  # by default, all script lines are interpreted as batch
  - ps: choco install mingw
  - ps: choco install mingw-get
  - ps: choco install msys-make msys-regex msys-libregex msys-sed msys-autoconf msys-automake msys-mktemp msys-patch msys-libtool
build_script:
  - ps: cd c:\projects\spiffy
  - ps: make